* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	display: flex;
	justify-content: center;
	padding: 2rem;
	min-height: 100vh;
	background-color: #444c56;
}

ul {
	padding-left: 5px;
	list-style: none;
	color: #adbac7;
}

li {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}

a {
	text-decoration: none;
	color: #adbac7;
}

li:hover > a {
	color: #cdd9e5;
}

li i {
	margin-right: 4px;
}

li::before {
	position: absolute;
	top: 15px;
	left: 0;
	width: 10px;
	height: 1px;
	margin: auto;
	content: '';
	background-color: #545d68;
}

li::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 100%;
	content: '';
	background-color: #545d68;
}

li:last-child::after {
	height: 15px;
}