:root {
	--black: #222;
	--white: #fff;
	--layout-spacing: 1.5rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	background-color: var(--white); 
}

header {
	background-color: var(--black);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;
	padding: 0 var(--layout-spacing);
	position: fixed;
	top: 0;
	color: var(--white);
	font-weight: 600;
	transition: background-color 0.3s linear;
}

.header-active {
	background-color: var(--white);
	color: var(--layout-spacing);
}

.logo {
	font-size: 1rem;
}

.nav {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	color: inherit;
	transition: color 0.3s linear;
}

.nav-link:hover {
	color: #c0392b;
}

.active {
	color: #c0392b;
}

.hero {
	background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	height: 100vh;
	background-size: cover;
	background-position: bottom;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: var(--white);
	gap: 1rem;
	padding: 0 var(--layout-spacing);
}

.hero h2 {
	font-size: 3rem;
	font-weight: 600;
}

.hero p {
	font-size: 1.5rem;
}

main {
	padding: 2rem var(--layout-spacing);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

section h2 {
	margin: 0.75rem 0;
}

@media screen and (min-width: 768px) {
	:root {
		--layout-spacing: 4rem;
	}

	.logo {
		font-size: 1.5rem;
	}
}