* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #22254b;
  --secondary: #373b69;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background-color: var(--primary);
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: ;
  background-color: var(--secondary);
  height: 72px;
  padding: 4px 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.container {
  min-width: 100%;
  padding: 0 3em;
}

.input-search {
  border-radius: 24px;
  font-family: inherit;
  padding: 12px;
  border: 3px solid var(--primary);
  outline: none;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 1.15em;
}

.input-search:focus {
  background-color: var(--primary);
}

.input-search::placeholder {
  color: #747bc1;
}

main {
  padding: 1.5em 0;
}

.movies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  position: relative;
  overflow: hidden;
}

.movie-card-review {
  position: absolute;
  bottom: -100%;
  background-color: #fff;
  height: auto;
  text-align: justify;
  max-height: 100%;
  padding: 2.5em 1.75em;
  transition: bottom 350ms ease;
  overflow: scroll;
}

.movie-card:hover > .movie-card-review {
  bottom: 0;
}

.movie-card img {
  flex: 1 0 auto;
  max-width: 100%;
  height: auto;
}

.movie-card-info {
  background-color: var(--secondary);
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 12px 16px;
  align-items: center;
}

.movie-card-info p {
  color: #fff;
  font-weight: 700;
  font-size: 1.25em;
  width: 70%;
}

.movie-card-rate {
  background-color: var(--primary);
  padding: 8px;
  font-weight: 600;
  border-radius: 4px;
}

.green {
  color: #10ac84;
}

.yellow {
  color: #feca57;
}

.red {
  color: #ff6b81;
}

@media (prefers-reduced-motion) {
  .movie-card-review {
    transition: none;
  }
} 
